<div class="main-container"> 
<mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                    <h2>Log In</h2>
                    <mat-error *ngIf="!isLoginFailed">
                        The username and password were not recognized
                    </mat-error>
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
                        <mat-error>
                            Please provide a valid email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password"
                            required>
                        <mat-error>
                            Please provide a valid password
                        </mat-error>
                    </mat-form-field>
                    <mat-grid-list cols="2" rowHeight="45px">
                        <mat-grid-tile><mat-checkbox class="example-margin" [(ngModel)]="rememberMe">Remember Me</mat-checkbox></mat-grid-tile>
                        <mat-grid-tile> <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button></mat-grid-tile>
                    </mat-grid-list>
                    
                   
                </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>