<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:50000</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <writeBufferSize>0</writeBufferSize>
    </appender>

    <springProfile name="!local">
        <root level="DEBUG">
            <!--appender-ref ref="CONSOLE" /-->
            <!--appender-ref ref="FILE" /-->
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="stash" />
        </root>
    </springProfile>

    <springProfile name="local">
        <logger name="com.c4c" level="debug" additivity="false">
            <appender-ref ref="stash" />
        </logger>
    </springProfile>
    <root >
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>